 .section-faqs {
   padding-block: 80px;
   background-color: #FFF9EE;
 }

 .section-faqs .common-container {
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   flex-wrap: inherit;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   min-width: 0;
 }

 .section-faqs .faq-section-title {
   font-size: 40px;
   font-family: 'Montserrat';
   font-weight: 600;
   text-align: center;
   color: #141414;
 }

 .section-faqs .faq-section-desc {
   font-size: 16px;
   font-family: 'Montserrat';
   font-weight: 400;
   text-align: center;
   margin-top: 10px;
   color: #141414;
 }

 h3.faq-container-title {
   margin: 0;
   font-size: 40px;
   font-family: 'Montserrat';
   font-weight: 600;
   margin-block: 20px;
 }

 .faqs-container {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   row-gap: 20px;
   padding-top: 60px;
 }

 .faq-container-item {
   width: 100%;
   max-width: 1200px;
 }

 .faq-box.accordion-item {
   background-color: #FFF9EE;
 }

 button.accordion-button.collapsed {
   background-color: #FFF9EE;
 }

 p.faq-answer {
   color: #141414;
   font-family: 'montserrat';
   font-style: normal;
   font-weight: 500;
   line-height: 160%;
 }

 .faq-box {
   overflow: hidden;
 }

 /* Accordin */
 .faq-box .accordion {
   cursor: pointer;
   padding: 12px 22px 12px 22px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
   background: transparent;
   font-size: 16px;
   font-weight: 700;
   position: relative;
   padding-right: 40px;
   color: #484848;
   display: flex;
   align-items: center;
   column-gap: 16px;
   border: 1px solid rgba(139, 142, 153, .7);
 }

 .accordion {
   margin-bottom: 0;
   border-top: .1rem solid rgba(var(--color-foreground), .08);
   border-bottom: .1rem solid rgba(var(--color-foreground), .08);
 }

 .faq-header {
   display: flex;
   gap: 20px;
 }

 .question-text {
   color: #141414;
   font-size: 20px;
   font-weight: 500;
   font-family: 'Avigea' !important;
   letter-spacing: 0.06rem;
 }

 .faq-box .panel {
   padding: 0 18px;
   font-size: 16px;
   font-weight: 500;
   max-height: 0;
   overflow: hidden;
   transition-duration: .5s;
   line-height: 1.6;
   border: 1px solid rgba(139, 142, 153, .7);
   margin-bottom: 0px;
   border-top: none;
 }

 .faq-box.active .panel {
   margin-bottom: 0px;
 }

 .faq-box .panel p {
   font-weight: normal;
   margin-top: 14px;
 }

 .faq-box .panel ol {
   font-size: 15px;
   list-style: auto;
   margin: inherit;
   padding: inherit;
 }

 /* .faq-box .accordion:after {
    content: url("down-arrow.svg");
    margin-left: 5px;
    font-size: 25px;
    font-weight: 700;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 20px;
    transition-duration: .5s;
  }

  .faq-box.active .accordion:after {
   transform: rotate(360deg);
   content: url("up-arrow.svg");
  } */
 .section-faqs h2 {
   font-size: 36px;
   line-height: 48px;
   text-align: center;
 }

 .accordion-button:not(.collapsed) {
   background-color: #FFF9EE;
 }

 @media screen and (max-width: 820px) {
   .faqs-container {
     flex-wrap: wrap;
   }

   .faqs-sub-container-1,
   .faqs-sub-container-2 {
     width: 100%;
     padding-bottom: 30px;
   }

   .section-faqs h2 {
     font-size: 28px;
     line-height: 1;
   }

   .faq-box .accordion {
     font-size: 18px;
     line-height: 24px;
     padding-right: 30px
   }

   .faq-box .panel p {
     font-size: 15px;
     line-height: 24px;
     margin-top: 10px;
   }

   .faq-box .accordion:after {
     position: absolute;
     right: 5px;
     top: 24px;
   }
 }

 @media (max-width :767px) {
   .faq-box .accordion svg {
     width: 25px;
   }

   .faq-box .accordion {
     padding: 8px 15px;
     column-gap: 8px;
   }

   .question-text {
     font-size: 14px;
     padding-right: 20px;
   }

   .faq-box .accordion:after {

     right: 10px;
     top: 20px;
   }

   .section-faqs {
     padding-top: 50px;
     padding-bottom: 0px;
   }

   .common-container {
     padding-right: 0px;
     padding-left: 0px;
   }

   .faqs-container {
     column-gap: 20px;
     row-gap: 20px;
     padding-top: 20px
   }

   .accordion {
     margin-top: 1rem;
   }
 }

 @media (max-width :767px) {
   .section-faqs .faq-section-title {
     font-size: 24px;
   }
 }

 @media screen and (max-width: 440px) {
   .section-faqs h2 {
     line-height: 1;
   }

   h3.faq-container-title {
     font-size: 20px;
     margin-bottom: 0px;
     text-align: center;
   }

 }