.nl-inspiration-section .product-form__error-message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
.nl-inspiration-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #28422e;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.nl-inspiration-section .nl-inspiration-title {
  color: #fff;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 24px;
  font-family: Avigea;
}
.nl-inspiration-section .nl-inspiration-desc {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  max-width: 630px;
  margin-inline: auto;
  margin-bottom: 40px;
  text-align: center;
  font-family: Montserrat;
}
.nl-inspiration-section .common-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-width: 0;
}
.nl-inspiration-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.nl-inspiration-container .nl-inspiration-block .img-container {
  width: 100%;
}
.nl-inspiration-container .nl-inspiration-block .img-container img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.nl-inspiration-container .nl-inspiration-last-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.nl-inspiration-container .nl-insp-inner-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.nl-inspiration-block {
  position: relative;
}
.nl-inspiration-block .sc-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50px;
  cursor: pointer;
}

.nl-inspiration-block .sc-logo img {
  width: 100%;
}

.image-popup {
  display: none;
  width: 0;
  height: 0;
}

.image-popup.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(56, 71, 42, 0.5);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  display: flex;
}

.popup-content {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img#popup-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  position: relative;
  width: 100%;
}
.popup-content .star,
.image-popup-slider-wrapper .star {
  position: absolute;
  top: 500px;
  right: unset;
  bottom: unset;
  left: 563px;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  font-size: 30px;
}
.popup-content .star.added,
.image-popup-slider-wrapper .star.added {
  background-color: #28422e;
}

.popup-content .close-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 1200px) {
  .nl-inspiration-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .nl-inspiration-section .nl-inspiration-title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .nl-inspiration-section .nl-inspiration-title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .nl-inspiration-section .nl-inspiration-title {
    font-size: 28px;
  }
  .nl-inspiration-container {
    grid-template-columns: 1fr;
  }
  .nl-inspiration-container .nl-inspiration-last-block {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .popup-content img#popup-image {
    object-fit: contain;
    height: unset;
    width: 100%;
  }
  .popup-content .close-btn {
  right: 5px;
  }
  
}
.image-popup-slider-wrapper {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.image-popup-slider-wrapper.active {
  visibility: visible;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  top: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  padding-block: 30px;
  background-color: rgba(0,0,0, 0.5);
  transition: visibility var(--duration-default) ease;
  transform: translate(-50%, 0);
  left: 50%;
  transition-duration: 0.5s;
  transition-property: width;
}

.popup-close-btn-container {
  text-align: right;
  padding-right: 100px;
  position: absolute;
  width: 100%;
  z-index: 99;
}
button.popup-slider-btn-close {
  border-radius: 100%;
  border: 1px solid gray;
  background-color: #fff;
  width: 30px;
  height: 30px;
  font-weight: 700;
  color: #38472a;
  cursor: pointer;
}
.image-popup-slider-wrapper .image-popup-slider-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 9;
  transform: rotate(180deg);
  cursor: pointer;

}
.image-popup-slider-wrapper .image-popup-slider-next {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 100px;
  top: 50%;
  z-index: 9;
  cursor: pointer;

}
.image-popup-slider-next.swiper-button-disabled,
.image-popup-slider-prev.swiper-button-disabled {
  display: none;
}
.image-popup-slider-wrapper .img-container {
  text-align: center;
}
.image-popup-slider-wrapper img.popup-image-slider-img {
  height: calc(100vh - 40px);

  object-fit: fill;
  cursor: grab;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .image-popup-slider-wrapper img.popup-image-slider-img {
    height: auto;
    width: 100%;
  }
  .image-popup-slider-wrapper .image-popup-slider-next {
    right: 20px;
    width: 30px;
    height: 30px;
  }
  .image-popup-slider-wrapper .image-popup-slider-prev {
    left: 20px;
    width: 30px;
    height: 30px;
  }
  .image-popup-slider-wrapper .image-popup-slider-prev .img-container img,
  .image-popup-slider-wrapper .image-popup-slider-next .img-container img {
    width: 30px;
    height: 30px;
  }
  .popup-close-btn-container {
    padding-right: 20px;
    top: 60px;
  }
   .image-popup-slider-wrapper .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
  }
  .image-popup-slider-wrapper .image-popup-slider-next .img-container,.image-popup-slider-wrapper .image-popup-slider-prev .img-container{
    width: 30px;
    height: 30px;
    display:unset;
  }
}
