.b2b-login-section {
    padding-block: 90px;
    background-color: #FFF9EE;
}

.b2b-login-section .b2b-container .login-text-block .login-title {
    color: #38472A;
    font-family: Avigea;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: 125.5%;
    margin-bottom: 32px;
}

.b2b-login-section .b2b-container .login-text-block .login-desc {
    color: #38472A;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 125.5%;

}

.b2b-login-section .features {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 20px;
    color: #38472A;
    font-weight: 500;
}

/* Main Card Layout */
.b2b-login-section .login-main-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    margin-top: 54px;
}

.b2b-login-section .b2b-container .login-main-card .image-side {
    flex: 1;
}

.b2b-login-section .b2b-container .login-main-card .image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.b2b-login-section .b2b-container .login-main-card .form-side {
    flex: 1;
    padding: 85px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
}

.b2b-login-section .b2b-container .login-main-card .form-side .form-title {
    color: #38472A;
    font-family: Avigea;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
    margin-bottom: 24px;

}

.b2b-login-section .b2b-container .login-main-card .form-side .form-subtitle {
    color: #484848;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 45px;
}

/* Form Elements */
.b2b-login-section .b2b-container .login-main-card .form-side .input-group {
    margin-bottom: 20px;
}

.b2b-login-section .b2b-container .login-main-card .form-side .input-group .input-title {
    display: block;
    color: #484848;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 8px;
}

.b2b-login-section .b2b-container .login-main-card .form-side .input-group .input-place {
    width: 100%;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #f9f9f9;
    color: #000;
}

.b2b-login-section .b2b-container .login-main-card .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.b2b-login-section .b2b-container .login-main-card .form-options .checkbox-container .checkbox-text {
    color: #484848;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.b2b-login-section .b2b-container .login-main-card .form-options .forgot-link {
    color: #15C915;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.b2b-login-section .b2b-container .login-main-card .sign-in-btn {
    width: 100%;
    padding: 14px;
    background-color: #38472A;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: Montserrat;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s;
}

.b2b-login-section .b2b-container .login-main-card .sign-in-btn:hover {
    opacity: 0.9;
}

.b2b-login-section .b2b-container .login-main-card .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.b2b-login-section .b2b-container .login-main-card .footer-link .new-business {
    color: #14382E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.b2b-login-section .b2b-container .login-main-card .footer-link .get-req {
    color: #15C915;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

/* Responsive */
@media (max-width: 991px) {
    .b2b-login-section {
        padding-block: 60px;

    }
    .b2b-login-section .b2b-container .login-text-block .login-title {

        font-size: 32px;
    }

    .b2b-login-section .b2b-container .login-text-block .login-desc {
        font-size: 18px;

    }

    .b2b-login-section .features {
        font-size: 18px;

    }
     .b2b-login-section .b2b-container .login-main-card .form-side .form-title {

        font-size: 32px;

    }
    .b2b-login-section .b2b-container .login-main-card .form-side {
    padding: 45px 28px;
    }


}
@media (max-width: 768px) {
    .b2b-login-section {
        padding-block: 50px;

    }

    .b2b-login-section .b2b-container .login-text-block .login-title {

        font-size: 24px;
    }

    .b2b-login-section .b2b-container .login-text-block .login-desc {
        font-size: 16px;

    }

    .b2b-login-section .features {
        font-size: 16px;

    }

    .b2b-login-section .b2b-container .login-main-card .form-side .form-title {

        font-size: 24px;

    }

    .b2b-login-section .b2b-container .login-main-card {
        flex-direction: column;
    }

    .b2b-login-section .b2b-container .login-main-card .image-side {
        height: 250px;
    }

    .b2b-login-section .b2b-container .login-main-card .form-side {
        padding: 30px;
    }
}