.artificial-plants-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fffaee;
}
.artificial-plants-section .title {
  font-size: 40px;
  color: #38472a;
  margin-bottom: 28px;
  font-family: "Avigea" !important;
  margin-top: 0;
  text-align: center;
}
.artificial-plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 25px;
}
.artificial-plants-container .cards-block {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  aspect-ratio: 1 / 1.25;
}
.artificial-plants-container .img-container {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
.artificial-plants-container img {
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.3, 0.12, 0.67, 0.95);
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: inherit;
}

.artificial-plants-container .cards-block:hover img {
  transform: scale(1.05);
}

.artificial-plants-container .img-container-first {
  background-color: #e8eaff;
}

.artificial-plants-container .img-container-second {
  background-color: #ffdeb8;
}

.artificial-plants-container .img-container-third {
  background-color: #caf9e7;
}

.artificial-plants-container .img-container-fourth {
  background-color: #e8eaff;
}

.artificial-plants-container .img-container-fifth {
  background-color: #f6d5c6;
}

.artificial-plants-container .img-container-six {
  background-color: #dcdcdc;
}

.artificial-plants-container .img-container-seven {
  background-color: #d3e9e6;
}

.artificial-plants-container .img-container-eight {
  background-color: #d5fccf;
}
.artificial-plants-container .plant-title {
  font-size: 20px;
  font-weight: 500;
  color: #38472a;
  margin-top: 14px;
  margin-bottom: 0;
}



@media (max-width: 1100px) {
  .artificial-plants-section {
    background-color: #fffaee;
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .artificial-plants-section .title {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .artificial-plants-container {
    gap: 30px 20px;
  }
  .artificial-plants-container .plant-title {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .artificial-plants-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .artificial-plants-section .title {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .artificial-plants-section .artificial-plants-container {
    gap: 24px 16px;
    margin-bottom: 80px;
    padding: 15px 44px 44px;
    
  }

  .artificial-plants-container .img-container {
    aspect-ratio: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .artificial-plants-container .cards-block {
    display: block;
  }

  .artificial-plants-container .plant-title {
    font-size: 16px;
    margin-top: 11px;
  }
}
