.b2b-business-features {
  background: #3e4f2f;
  padding-block: 70px;
}

.b2b-business-features .b2b-business-eyebrow {
  font-size: 16px;
  font-family: 'Montserrat';
  text-align: center;
  color: #cdd8b5;
  font-weight: 600;
  margin-bottom: 16px;
}

.b2b-business-features .b2b-business-title {
    color: #FFF;
    font-size: 40px;
    font-family: 'Avigea';
    text-align: center;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 16px;
}

.b2b-business-features .b2b-business-subtitle {
    color: #D9D9D9;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
     margin-bottom: 50px;
}

.b2b-business-features .b2b-features-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(395px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
}

.b2b-business-features .b2b-features-grid .feature-card {
  background: #1C3B23;
  border-radius: 16px;
  padding: 24px 16px;
  text-align: left;
  display: flex;
  gap: 14px;
  align-items: center;
}

.b2b-business-features .feature-text .feature-title {
    color: #FFF;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: -0.66px;
    margin-bottom: 12px;
}

.b2b-business-features .feature-text .feature-desc {
    color: #D9D9D9;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: -0.54px;
}

/* Responsive */
@media (max-width: 992px) {
  .b2b-business-features .b2b-features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .b2b-business-features .b2b-business-title {
    font-size: 28px;
  }
  .b2b-business-features .b2b-features-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 380px;
  }
   .b2b-business-features .feature-text .feature-title {
    font-size: 20px;
  }
  .b2b-business-features .feature-text .feature-desc {
    font-size: 18px;
  }
}