.b2b-volume-savings {
  background: #dff0e6;
  padding-block: 80px;
  
}
.b2b-volume-savings .b2b-volume-container {
  max-width: 1200px;
  margin: 0 auto;
}

.b2b-volume-savings .b2b-eyebrow-text {
  text-align: center;
  font-size: 16px;
  color: #38472A;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}
.b2b-eyebrow-bottom-text {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat';
  color: #38472A;
  font-weight: 600;
  margin-top: 20px;
}

.b2b-volume-savings .b2b-volume-title {
    color: #38472A;
    font-size: 40px;
    font-weight: 400;
    font-family: Avigea;
    line-height: 125.5%; 
    text-align: center;
    margin-bottom: 40px;
}

.b2b-volume-savings .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.b2b-volume-savings .b2b-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 28px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.b2b-card .card-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: 'Montserrat';
  margin-bottom: 24px;
  color: #111;
}

.b2b-card .card-content {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-content .b2b-order {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.54px;
}

.card-content .b2b-discount{
    color: #FFB400;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.54px;
}


/* Responsive */
@media (max-width: 768px) {
  .b2b-volume-title {
    font-size: 28px;
  }

  .b2b-card {
    max-width: 100%;
  }
  .b2b-volume-savings .b2b-volume-title {
    font-size: 28px;
  }
  .b2b-volume-savings .b2b-card {
    max-width: 300px;
  }
}
