/*------------- B2B Hero Section -------------*/
section.b2b-hero-section{
    background-color: #28422E;
    color: #FFFFFF;
    margin-top: 32px;
    font-family: Montserrat;
}
.b2b-container.hero-container {
    max-width: 1839px;
    padding-inline: 100px;
    position: relative;
    box-sizing: border-box;
}
img.hero-left-leafs {
    position: absolute;
    left: 0;
    bottom: 3%;
    max-width: 100%;
}
.b2b-hero-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding-block: 100px;
}
.b2b-hero-text-container {
    background-color: transparent;
    z-index: 1;
}
p.b2b-hero-small-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55;
    margin-block: 0;
}
h1.b2b-hero-text-title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.10;
    margin-block: 0;
}
.b2b-hero-text-details {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55;
}
ul.b2b-hero-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    font-size: 16px;
    padding-left: 13px;
    padding-bottom: 12px;
}
li.hero-ul-item {
    padding-left: 8px;
    padding-right: 16px;
}
li.hero-ul-item::marker {
    content: url('./../assets/bullet-icon.svg');
}
/* .b2b-hero-ul li {
    margin-bottom: 8px;
} */
.b2b-hero-img-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    z-index: 1;
}
.b2b-hero-img-container .img-block {
    width: 100%;
}
.b2b-hero-img-container .img-block img {
    width: 100%;
    aspect-ratio: 0.65;
    object-fit: cover;
    border-radius: 8px;
}
img.hero-right-leafs {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
}
.b2b-hero-section .btn-container{
    display: inline-flex;
    gap: 16px;
}
@media (max-width: 1500px) {
    .b2b-container.hero-container {
        padding-inline: 60px;
    }
}
@media (max-width: 1320px) {
    h1.b2b-hero-text-title{
        font-size: 40px;
    }
    .b2b-hero-img-container .img-block img{
        aspect-ratio: 0.56;
    }
}
@media (max-width: 992px) {
    .b2b-hero-section-container {
        grid-template-columns: 1fr;
        padding-block: 60px;
    }
    .b2b-hero-img-container {
        order: -1;
    }
    h1.b2b-hero-text-title {
        font-size: 48px;
    }
    .b2b-hero-text-container {
        margin-bottom: 40px;
    }
    .b2b-container.hero-container {
        padding-inline: 20px;
    }
    .b2b-hero-img-container .img-block img {
        aspect-ratio: 0.75;
    }
    h1.b2b-hero-text-title {
        font-size: 32px;
    }
}
@media (max-width: 576px) {
    .b2b-hero-section-container{
        padding-block: 30px;
    }
    h1.b2b-hero-text-title {
        font-size: 28px;
    }
    .b2b-hero-img-container .img-block img {
        aspect-ratio: 0.85;
    }
}
@media (max-width: 440px) {
    p.b2b-hero-small-text {
        font-size: 14px;
    }
    h1.b2b-hero-text-title {
        font-size: 24px;
    }
    .b2b-hero-text-details {
    font-size: 16px;
    }
}
/*------------- End of B2B Hero Section -------------*/