section.nl-image-section.slider-image {
  background: #d9ebe2;
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

/* Container */
.nl-image-section-container {
  max-width: 1300px;
  padding: 20px 15px 150px;
  margin: 0 auto;
}

/* Text */
.nl-image-section-text-container {
  text-align: center;
}

.nl-image-section-text-container h2 {
  color: #38472a;
  font-family: Avigea;
  font-size: 40px;
  font-weight: 400;
  line-height: 125.5%;
  margin: 0;
}

.nl-image-section-text-container:has(h2 + p) h2 {
  margin-bottom: 24px;
}

.nl-image-section-text-container p {
  max-width: 650px;
  display: inline-block;
  color: #484848;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 140%;
}

/* Slider Block */
.nl-image-section-slider-block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
}

/* Swiper overrides */
.nl-image-section-slider-block .swiper {
  width: 100%;
}

.nl-image-section-slider-block .swiper-wrapper {
  align-items: stretch;
}

.nl-image-section-slider-block .swiper-slide {
  height: auto;
}

.nl-image-section-slider-block img.image-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/* Bottom shadow */
.bottom-shadow-img-container {
  position: relative;
}

.bottom-shadow-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-image: url("//neverleafs.nl/cdn/shop/files/Group_2369.png?v=1745398557");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 700px;
  opacity: 0.6;
  pointer-events: none;
}

/* Navigation buttons */
.nl-image-section-slider-navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.nl-image-section-slider-prev,
.nl-image-section-slider-next {
  cursor: pointer;
}


.nl-image-section-slider-next img {
   position: absolute;
    top: 47%;
    right: -25px;
    z-index: 999;
    cursor: pointer;
}
.nl-image-section-slider-prev img{
    position: absolute;
    top: 47%;
    left: -25px;
    z-index: 999;
    transform: rotate(180deg);
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nl-image-section-text-container h2 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .nl-image-section-container {
    padding: 20px 15px 75px;
  }

  .nl-image-section-slider-block {
    padding-top: 20px;
    margin-inline: -15px;
  }

  .nl-image-section-slider-block .swiper {
    padding-inline: 15px;
  }
}
