.nlf-reviews-section {
    padding-bottom: 70px;
}
.nlf-customer-review-section>h4.nlf-review-title {
    color: #38472a;
    font-family: Avigea !important;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
    text-align: center;
    margin-bottom: .8em;
    max-width: 80vw;
    margin-inline: auto;
}
.swiper.reviewSlider.webkinkel-judge-review-slider .swiper-slide {
    background-color: #fff;
    padding: 24px;
    border: 1px solid #dedede;
    border-radius: 20px;
    height: 330px;
}
h4.nlf-name {
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.swiper.reviewSlider.webkinkel-judge-review-slider .swiper-slide .review-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 27px;
}
.review-star-container svg {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}
.review-star-container {
  display: flex;
  gap: 2px;
}
.nlf-star-date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.nlf-star-date-container>span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nlf-review-slider-block {
    padding-inline: 15px;
}
.webwinkelklur-slider-container {
    position: relative;
}
.review-handler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 47%;
}
.review-handler .nlf-slider-prev, .review-handler .nlf-slider-next {
    border: 1px solid #dedede;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #fff;
    cursor: pointer;
}
.swiper-button-lock{ display: none !important;}
@media (max-width: 576px){
    .nlf-customer-review-section>h4.nlf-review-title { font-size: 28px;}
}