
.b2b-recomended-product-section {
    padding-block: 80px;
    background-color: #FFF9EE;
}
.b2b-recomended-product-section h2.section-title {
    text-align: center;
    font-family: 'Avigea';
    font-size: 40px;
    color: #38472A;
    line-height: 1.25;
}
.b2b-recomended-product-section .products-card-continers{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}
@media (max-width: 992px){
   .b2b-recomended-product-section h2.section-title {
        font-size: 32px;
    }
}
@media (max-width: 576px){
   .b2b-recomended-product-section h2.section-title {
        font-size: 28px;
    }
}
@media (max-width: 440px) {
   .b2b-recomended-product-section h2.section-title {
        font-size: 24px;
    }
    .b2b-product-slider-section .b2b-container {
        padding-inline: 0;
    }
}
